* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0%;
}

#mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#nameForm {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 25%;
  height: 20%;
  border: solid thin black;
}

#initButton {
  position: relative;
  left: 30%;
}

#selectDificulty {
  display: none;
  border: solid thin black;
  padding: 3%;
}

h1 {
  position: relative;
}

#gameBoard {
  border: solid 15px grey;
  width: 100%;
  height: 100%;
  display: none;
}

#tools {
  border-left: solid thick black;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  padding-right: 1%;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  padding-top: 2%;
  float: right;
}

#proffesions {
  padding-top: 2%;
  border-right: solid thick black;
  float: left;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-left: 0.3%;
  width: 50%;
  height: 100%;
}

.dragable {
  position: relative;
  width: 45%;
  height: 45%;
}

#carpintero {
  background-image: url("../img/carpintero/prof.png");
}

#cocinero {
  background-image: url("../img/cocinero/prof.png");
}

#politico {
  background-color: black;
  background-image: url("../img/politico/prof.png");
  background-size: 100%;
  background-position-y: 40%;
  background-repeat: no-repeat;
}

#programador {
  background-image: url("../img/programador/prof.jpg");
  background-color: black;
  background-size: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

#caladora {
  background-image: url("../img/carpintero/caladora.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#lima {
  background-image: url("../img/carpintero/lima.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#serrucho {
  background-image: url("../img/carpintero/serrucho.png ");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#martillo {
  background-image: url("../img/carpintero/martillo.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#cazo {
  background-image: url("../img/cocinero/cazo.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#gorro {
  background-image: url("../img/cocinero/gorro.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#rodillo {
  background-image: url("../img/cocinero/rodillo.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#varilla {
  background-image: url("../img/cocinero/varilla.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#cafe {
  background-image: url("../img/programador/cafetera.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#chocolate {
  background-image: url("../img/programador/chocolate.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#google {
  background-image: url("../img/programador/google.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#stack_overflow {
  background-image: url("../img/programador/stackoverflow.png");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#banco {
  background-image: url("../img/politico/banco.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#maletin {
  background-image: url("../img/politico/codigopenal.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#codigo_penal {
  background-image: url("../img/politico/maletin.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

#tarjeta_black {
  background-image: url("../img/politico/tarjeta.jpg");
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: 75%;
  border: solid thin black;
  background-position: center;
}

.tool {
  background-color: white;
  display: none;
}

.profession{
  display:none;
}
